<div>
<div class="flex items-center justify-center">
    <app-dashboard-card [title]="'Sessions'" [value]="sessions.length.toString()"></app-dashboard-card>
    <div style="height: 24px; width: 0.5px; border-left: 1px solid #ababab;"></div>
    <app-dashboard-card [title]="'Kiters'" [value]="kiterCount.toString()"></app-dashboard-card>
    <div style="height: 24px; width: 0.5px; border-left: 1px solid #ababab;"></div>
    <app-dashboard-card [title]="'Sites'" [value]="siteCount.toString()"></app-dashboard-card>
</div>
<div class="flex items-center justify-center">
    <app-dashboard-card [title]="'Ride Time'" [value]="totalTime"></app-dashboard-card>
    <div style="height: 24px; width: 0.5px; border-left: 1px solid #ababab;"></div>
    <app-dashboard-card [title]="'Jumps'" [value]="'cool'"></app-dashboard-card>
    <div style="height: 24px; width: 0.5px; border-left: 1px solid #ababab;"></div>
    <app-dashboard-card [title]="'Points'" [value]="'56'"></app-dashboard-card>
</div>
</div>